body {
  padding-top: 40px;
  background-image: url('../images/background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

button {
  opacity: .95;
}

.container {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 900px !important;
}

.list-group-item {
  margin-top: 3px !important;
  opacity: .95;
}

.list-group-item-success {
  color: #fff;
  background-color: rgba(210, 80, 75, .95);
  border: 1px solid rgba(210, 80, 75, .95);
}
