<div class="list-group">
  <div class="list-group-item list-group-item-info">
    <span ng-show="todo.list.length !== 0">Items: {{todo.list.length}}</span>
    <span ng-show="todo.list.length === 0">No items remaining</span>
  </div>
  <button type="button" class="list-group-item" ng-repeat="item in todo.list" ng-show="!finished" ng-click="finished = !finished; todo.finished(item)">
    <span>
      {{item.task}}
    </span>
  </button>
  <div class="list-group-item list-group-item-success">
    <span ng-show="todo.completed.length !== 0">Items completed: {{todo.completed.length}}</span>
    <span ng-show="todo.completed.length === 0">No items completed</span>
  </div>
  <button type="button" class="list-group-item" ng-repeat="item in todo.completed" ng-click="todo.undo(item)">
    <span>
      {{item.task}}
    </span>
  </button>
</div>
